body{
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#back{
    background-image: linear-gradient(#292929,#050505);
    width: 100%;
    height: 1075px;
}
#grandpa{
    background-color: #121212;
    width: 48.3%;
    height: 1010px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 32px;
    left: 392px;
}

.fa-brands{
    color: white; 
    font-size: 37px; 
    margin-top: 32px;
    margin-bottom: 23px;
}
#h1{
    font-size: 30px; 
    color: #fdfdfd; 
    font-weight: 700;
}
.bt{
    margin-top: 8px;
    color: #ffffff;
    border: #777777 1px solid;
    background: none;
    padding: 13.9px;
    width: 44%;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15.5px;
}
.fa-facebook{
    color: #1877F2; 
    background-color: white; 
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 208px;
    right: 475px;
}
.bt:hover{
    cursor: pointer;
    border: #f5f5f5 1px solid;
}
.father{
    margin-top: 40px;
    background-color: #2b2b2b;
    width: 72.4%;
    height: 0.1px;
    margin-left: 13.8%;
    margin-bottom: 30px;
}
#form{
    background: none;
}
label{
    color: rgb(255, 255, 255); 
    font-size: 14px; 
    font-weight: 600;
    margin-right: 206px;
}
input{
    margin-top: 10px;
    background: none;
    color: #ffffff;
    width: 40%;
    padding: 14.5px;
    border: #7f7f7f solid 1px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
}
.fa-eye-slash{
    color: #a6a6a6;
    font-size: 18px;
    position: absolute;
    bottom: 398px;
    right: 218px;
    font-weight: 500;
}
input:hover{
    border: #ffffff solid 1px;
}
.fa-eye-slash:hover{
    color: #e5e5e5;
    cursor: pointer;
    transform: scale(1.07);
}
#bt1{
    margin-top: 8px;
    color: #000000;
    border: none;
    background-color: #1ed760;
    padding: 0px;
    width: 4.1%;
    border-radius: 10px;
    margin-bottom: 31px;
    position: relative;
    top: 1px;
    left: -148px;
}
.fa-circle{
    font-size: 13px;
    position: relative;
    top: 0.8px;
    left: 6px;
}
#btlog{
    margin-top: 8px;
    margin-bottom: 34px;
    color: black;
    border: none;
    background-color: #1ed760;
    padding: 13.9px;
    width: 44%;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15.5px;
}
#btlog:hover{
    background-color: #20e665;
    transform: scale(1.038,1.06);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.a1{
    color: white;
    font-weight: 500;
}
.a1:hover{
    color: #1ed760;
}
#bottom{
    background-color: #121212;
    color: rgb(171, 171, 171);
    padding: 19px;
    text-align: center;
    border: none;
    font-size: 12.4px;
}
a{
    color: rgb(171, 171, 171);
}