body{
    background-color: #f2f0eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
    font-weight: bolder;
}
*{
    margin: 0%;
}
#parent{
    position: static;
    width: 100%;
}
#div1{
    text-align: center; 
   color: rgb(0, 0, 0);
   padding: 1.6%; 
   background-color: rgb(175, 177, 255) ;
   height: 24px;
}
#a1{
    color: black;
}

#div2{
    color: aliceblue;
    padding: 1.6%; 
    background-color: black;
    display: flex;
    height: 30px;
 }
 #s4{
    position: relative;
    top: -21px;
    left: 65px;
 }
 .arr{
    position: relative;
    top: -115%;
    left: 29%;
    display: none;
    color: #f9f9f9;
    margin-bottom: -23px;
}
.pdrop:hover #s4{
    transform: rotate(180deg);
    position: relative;
    top: -21px;
    left: 15px;
 }
 #s3{
    position: relative;
    top: -21px;
    left: 77px;
 }
 .pdrop2:hover #s3{
    transform: rotate(180deg);
    position: relative;
    top: -21px;
    left: 15px;
 }
 #p2{
    font-weight: 500;
 }
.drop{
    background-color: #f9f9f9;
    padding: 1.4%;
    width: 10%;
    position: absolute;
    top: 139px;
    left: 32%;
    display: none;
    border-radius: 10px;
}
.drop a{
    color: #707070;
    display: block;
    padding: 1%;
    margin-bottom: 13%;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.pdrop:hover{
    cursor: pointer;
 }
.pdrop:hover .drop{
    display: block;
    color: #5249fe;
 }
.drop a:hover{
    color: #5249fe;
 }
 .pdrop:hover .arr{
    display: block;
 }
 .arr2{
    position: relative;
    top: -115%;
    left: 29%;
    display: none;
    color: #f9f9f9;
    margin-bottom: -23px;
 }
.drop2{
    background-color: #f9f9f9;
    padding: 1.4%;
    width: 10%;
    position: absolute;
    top: 139px;
    left: 62%;
    left: 40%;
    display: none;
    border-radius: 10px;
}
.drop2 a{
    color: #707070;
    display: block;
    padding: 1%;
    margin-bottom: 13%;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
 .pdrop2:hover{
    cursor: pointer;
 }
 .drop2 a:hover{
    color: #5249fe;
 }
.pdrop2:hover .drop2{
    display: block;
 }
 .pdrop2:hover .arr2{
    display: block;
 }
 #b7{
    background-color: black; 
    border: none; 
    margin: -1%; 
    margin-left: -12%;
 }
 #b7:hover{
    cursor: pointer;
 }
#a4{
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-weight: 500;
}
#a4:hover{
    color: #dcdbdb;
}
#b6{
     border: 1px solid #dcdbdb;
     background-color: #000000;
     color: #dcdbdb;
     padding: 1px;
     width: 70px;
     border-radius: 40px;
     font-weight: 700;
     align-items: center;
     justify-content: center;
     display: flex;
}
#b6:hover{
    transform: scale(1.05,1.05);
}

#parent2{
    border-top: 40px solid rgb(0, 0, 0) ;
    display: flex;
    width: 100%;
    height: 800px;
    background-color: rgb(0, 0, 0);
    text-align: left;
}
 #div4{
    color: rgb(175, 177, 255);
    padding: 10%;
    margin-left: -2%; 
 }
 #p1{
    font-size: 22px;
    font-weight: 700;
 }
 #b1{
    background-color: #cff56a;
    padding: 3%;
    width: 150px;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.02s;
 }
 #b1:hover{
    transform: scale(1.04,1.04);
    font-weight: bolder;
    cursor: pointer;
 }
 #div6{
    display: flex;
 }
 #div7{
    margin-left: 8%;
    margin-right: -30%;
 }
#div8{
    margin-top: 11%;
    margin-right: -7%;
}
#a2{
    font-size: large;
   color: rgb(38, 0, 141);
}


#div9{
    width: 68%;
    margin-top: 11%;
    margin-left: 12%;
 }
 #div10{
    margin-top: -1%;
 }
#b2{
    background-color: #000000;
    padding: 0.9%;
    color: #ffffff;
    width: 150px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 5.8%;
    transition: transform 0.09s linear;
 }
 #b2:hover{
    transform: scale(1.00002);
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5.52%;
 }
#div11{
    display: flex;
    background-color: #26008d;
    padding: 12.7%;
    margin-top: 2%;
    margin-bottom: -2%;
}
#div12{
    color: #ffffff;
    border-radius: 39px;
    padding: 4.3%;
    border:2px solid #cff56a;
}
#div13{
    color: #ffffff;
    border-radius: 39px;
    padding: 4.3%;
    border:2px solid #cff56a;
    margin-left: 4.5%;
}
#b3{
    border: 1px solid #cff56a;
    background-color: #cff56a;
    padding: 3.4%;
    width: 190px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 5%;
    font-size: 14.5px;
 }
 #b3:hover{
    color: rgb(255, 255, 255);
    background-color: #26008d;
    cursor: pointer;
 }
 #div14{
    display: block;
    background-color: #9691ff;
    padding: 11%;
    margin-top: 2%;
}
#div15{
    margin-top: -3%;
    display: flex;
    margin-bottom: 7%;
}
#img1{ 
    border-top-left-radius: 13%; 
    border-top-right-radius: 13%;
    width: 368px;
}
#b4{
    margin-top: -2%;
    background-color: #f2f0eb;
    color: #707070;
    border: none;
    width: 368px;
    font-size: 15px;
    font-weight: 600;
    padding: 25px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#parent3{
    margin-right: 3.5%;
}
#parent3:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
}
#parent3:hover #b4{
    color: #5249fe;
}
.fa-brands{
    color: #ffffff;
    position: relative;
    top: -245px;
    left: 165px;
    font-size: 60px;
}
.icon{
    color: #dcdcdc;
    font-size: 18px;
    padding: 15px;
    position: relative;
    border: 1px solid #f9f9f9;
    border-radius: 30px;
    font-weight: 100;
}
.icon:hover{
    color: #918bf4;
    transform: scale(1.03,1.03);
    border-color: #918bf4;
    cursor: pointer;
}
#div16{
    background-color: #121212; 
    color: aliceblue; 
    padding: 1.2cm;
    display: flex;
}
#div17{
    padding-right: 4.7%;
    width: 13%;
}
#b5{
    background-color: #121212;
    border: none;
    cursor: pointer;
}
#a3{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}
#a3:hover{
    color: #918bf4;
    text-decoration: underline;
}
.bt{
    width: 160px;
    background-color: #121212;
    border: none;
    margin-bottom: -1%;
}
.bt:hover{
    transform: scale(1.03,1.03);
    cursor: pointer;
}
#h9{
    margin-bottom: 10%;
}
 